@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    /* padding:50px 0; */
}



/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
#head{
  display: flex;
}


#head-parts{
  padding-left:850px;
}

.head-name{
  color: #f1f1f1;
}

.list-button{
  text-align: right;
}


/* レイアウト-ログイン */
.logo-image{
  width: 120px;
  margin:20px 0 0 50px;

}

#head-parts{
}

#head-item{
  display: flex;
}

/* サイドバー */
.confirm-follow{
  display: flex;
}


.confirm-button{
  color: #fff;
}

.follow-page{
  margin-left: 100px;
}

.follower-page{
  margin-left: 85px;
}

#confirm{
  border-bottom: 1px solid #000;
}

.confirm-search{
  margin: 0 auto;
}

.search-page{
  margin:30px 0 0 65px;
}

.confirm-button{
  float: right;
}

.follow-count{
  padding-right: 25px;
}


/* 投稿一覧 */
.post-block{
  list-style:none;
  border-bottom:1px solid #000;
  display:flex;
  padding: 10px 10px 10px 10px 10px;
  font-size: 90%;
  padding-left: 30px;
}

.index-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}



.post-content{
  width:100%;
  padding:15px;
}

.post-content > div{
  display:flex;
  justify-content:space-between;
}

.post-name .search-name{
  margin-bottom:10px;
}

.post-form{
  border-bottom:4px solid #d3d3d3;
  display:flex;
  height: 150px;
  padding-left: 30px;
}

.post-form img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}



.post-input {
  height:100px; /* 入力欄の高さ */
  width:800px;
  padding: 40px; /* 入力欄の余白 */
  border: none; /* 入力欄の枠線 */
  border-radius: 5px; /* 入力欄の角丸 */
}

.index-submit{
text-align: right;
}



.form-button{
width:20px;
}

.submit-button{
  width:35px;
}

.trash-hover:hover{
  background-image:url('images/trash-h.png');
}


/* ユーザー検索画面のcss */
.search{
  border-bottom:4px solid #d3d3d3;
  height: 180px;
  padding-left: 30px;
  margin-bottom: 20px;

}

.search-form{
  padding: 65px 0;
  padding-left:80px;
}

.search-input{
  height:40px;
  border:1px solid  #696969;
  position:relative;
}

.search-image{
  height: 40px;
  top: 137px;
  right: 942px;
  position:absolute;
}

.search-block{
  list-style:none;
  display:flex;
  padding-left: 150px;
}



.search-items{
   justify-content: space-around;
}

.search-name{
   padding:20px 40px 20px 30px;
}

.search-list{
  justify-content: flex-start;
  padding-left: 100px;
}

.search-list form:last-of-type{
  margin-left: auto;
  padding-right:350px;
  padding-top: 10px;
}


.userfollow-btn{
  padding-top: 80px;
  padding-left: 300px;
}



.follow-btn{
border-radius: 40px;
}
/* アコーディオンメニュー用 */


/* プロフィール（ログインユーザー） */
.profile-form{
  display: flex;
}

.form-control{
  border: none;
  width: 100px;
height: 30px;
}

/* 他プロフィールページ用 */
.profile-content{
  width:50%;
  padding:15px;
}

.profile-content > div{
  display:flex;
  justify-content:space-between;
}





/* 編集ボタンのモーダル用 */
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content{
    margin: 0 auto;
    padding: 40px;
}

.upbutton{
  display: block;
  padding-left :780px ;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.confirm{
  margin:0 auto;

}


/* ヘッダーのドロップダウンメニュー */
/* menuSubを非表示にしている処理と位置を調整している。 */
.menuSub {
        display: none;
        position: absolute;
        top: 72px;
        right: 40px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
        width: 130px;
    }

    .menuSub_item {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #333;
    }

    .menuSub_item:hover {
        background-color: #000080;
        color: #f1f1f1;
    }

    .menuSub_item a:hover{
       color: #f1f1f1;
    }

    /* .menu-item:hover .menuSub {
        display: block;
    } */

    .menu-item::after {
      content: '\25BC';
      margin-left: 5px;
    }


   /* .menu-item::after{
    margin-left: 5px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
  } */
